html, body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    font-family: sans-serif;
}

.index {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
}

.index a {
    display: inline-block;
    margin: 0 auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1000px;
    /*justify-content: space-around;*/
}

.product_card{
    margin: 5px;
}

.product_card img {
    display: block;
    margin-bottom: 0;
}

.product_title, .product_price, .btn_buy {
    padding: 5px;
    text-align: center;
}

.btn_buy{
    background-color: #fcd000;
    cursor: pointer;
}

.btn_buy:hover{
    background-color: orange;
}

.product_price {
    border-top: 1px solid lightgrey;
}
.gallery a {
    text-decoration: none;
    color: black;
}

.product_card:hover {
    -webkit-box-shadow: 0px 0px 6px 4px rgba(255, 244, 192, 0.68);
    box-shadow: 0px 0px 6px 4px rgba(255, 244, 192, 0.68);
}

.product {
    max-width: 1000px;
    margin: 0 auto;
}

.product img {
    display: block;
    margin: 0 auto;
}

.product p, .error h1 {
    text-align: center;
}

.product a, .error a {
    display: block;
    text-align: center;
}

.product .desc {
    max-width: 720px;
    margin: 0 auto;
    text-align: justify;
}

.reviews {
    max-width: 1000px;
    margin: 0 auto;
}

.reviews a {
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 10px auto;
}

.btn_add {
    text-decoration: none;
}
.btn_add {
    display: block;
    box-sizing: border-box;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    background-color: orange;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.review, .review_admin {
    background-color: lightgrey;
    max-width: 500px;
    border-radius: 5px;
    margin: 0 auto 20px auto;
    box-sizing: border-box;
}

.reviewText {
    padding: 10px;
    margin-bottom: 10px;
}

.reviewAuthor {
    font-style: italic;
    text-align: right;
    padding: 10px;
}

.addreview, .editreview, .editproduct {
    max-width: 1000px;
    margin: 0 auto;
}

.addreview a {
    display: block;
    margin: 10px auto;
    max-width: 200px;
    padding: 10px;
    text-align: center;
}

form {
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 0 auto;
}

h3 {
    font-size: 25px;
}

input, textarea {
    font-size: 14px;
    padding: 10px;
    margin: 10px 0;
    background-color: #E9EFF6;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    border-style: solid;
}

input[type = "submit"] {
    background-color: orange;
    line-height: 30px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 20px;
}

input[type = "submit"]:hover {
    background-color: darkorange;
}

select {
    width: 100%;
}

.admin_panel {
    max-width: 1000px;
    margin: 0 auto;
}

.admin_panel a{
    display: inline-block;
    margin-right: 20px;
}

.review_link{
    max-width: 500px;
    text-decoration: none;
    color: black;
    display: block;
}

.review_admin{
    margin: 30px auto 10px auto;
}

/* Корзина */
.cart_link {
    margin: 0 auto;
    max-width: 1000px;
    display: block;
    text-align: right;
    font-size: 26px;
}

.link_cart_catalog{
    display: flex;
}

.link_cart_catalog .catalog_link{
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 10px;
    background-color: lightslategrey;
    color: white;
    text-decoration: none;
}

.link_cart_catalog .catalog_link:hover{
    color: black;
}

.cart {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
}

.cart .cart_product_card {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-left: 5px;
    border: 1px solid lightgrey;
    align-items: center;
    max-height: 138px;
    box-sizing: border-box;
}

.cart .cart_product_card:hover{
    box-shadow: 0px 0px 6px 4px rgba(255, 244, 192, 0.68);

}

.cart .cart_product_card > div{
    /*border-left: 1px solid lightgrey;*/
    border-right: 1px solid lightgrey;
}

.cart .cart_product_card .cart_product_image{
    /*width: 240px;*/
    height: 136px;
}

.cart .cart_product_card .cart_product_image img{
    width: 240px;
    height: 136px;
    box-sizing: border-box;
    /*align-items: center;*/
}

.cart .cart_product_card .cart_product_title{
    min-width: 250px;
    text-align: center;
    line-height: 136px;
    /*margin: 0 auto;*/
}

.cart .cart_product_card .cart_product_quantity{
    min-width: 100px;
    text-align: center;
    line-height: 136px;
}

.cart .cart_product_card .cart_product_x, .cart .cart_product_card .cart_product_eq {
    min-width: 50px;
    text-align: center;
    line-height: 136px;

}

.cart .cart_product_card .cart_product_price{
    min-width: 100px;
    text-align: center;
    line-height: 136px;

}

.cart .cart_product_card .cart_product_price_total{
    min-width: 100px;
    text-align: center;
    line-height: 136px;

}

.cart .cart_product_card .cart_product_price_total div{
    display: inline-block;
}
/* кнопки в корзине - добавить, уменьшить, удалить */

.cart .cart_product_card .cart_buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.btn_delete_good, .btn_reduce_good, .btn_add_good{
    display: block;
    padding: 5px;
    color: black;
    /*max-width: 100px;*/
    min-width: 70%;
    margin: 5px auto 5px auto;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}
.btn_delete_good{
    background-color: red;
}
.btn_delete_good:hover{
    background-color: darkred;
}
.btn_add_good{
    background-color: orange;
}
.btn_add_good:hover{
    background-color: darkorange;
}
.btn_reduce_good{
    background-color: limegreen;
}
.btn_reduce_good:hover{
    background-color: darkgreen;
}

.cart .total_cart {
    display: flex;
    font-size: 25px;
}

.cart .total_cart .push{
    margin-left: auto;
}

.cart .total_cart .total_cart_price{
    margin-left: 5px;
}

.cart .place_order{
    /*margin-left: auto;*/
    /*margin-right: 0;*/
    /*margin: 10px 0 10px auto;*/
    /*padding: 10px;*/
    /*font-size: 25px;*/
    background-color: royalblue;
    /*border-radius: 5px;*/
    color: white;
    /*cursor: pointer;*/
}

.cart .place_order:hover{
    background-color: cornflowerblue;
}

.cart_form_place_order{
    border: none;
    margin: 0 0 0 auto;
    padding: 0;
    font-size: 25px;
    /*background-color: royalblue;*/
    border-radius: 5px;
    /*color: white;*/
}

/* ссылка в футере */
.lonely_link{
    display: block;
    max-width: 300px;
    margin: 10px auto;
    text-align: center;
}

.editproduct form{
    max-width: 1000px;
}

.error_text{
    color: red;
    text-align: center;
}

.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}

/*личный кабинет*/

.account_orders_all{
    margin-top: 20px;
    margin-bottom: 20px;

}

.account_order{
    /*background: lightgrey;*/
    cursor: pointer;
    /*padding: 10px;*/
    margin-bottom: 10px;
    box-sizing:border-box;


}
.account_order:hover{
    box-shadow: 0px 0px 6px 4px rgba(150, 150, 100, 0.1);

}


.account_order:nth-child(even){
    background-color: #fafafa;
}

.account_order_number{
    box-sizing:border-box;
    padding: 10px;
}

.inactive-order{
    display: none;
    /*max-width: 1000px;*/
}

/*отображение строки одного товара*/

.order_goods_list .inactive-order{
    max-width: 1000px;
    margin: 0;
    padding: 0;
}
.order_goods_list_product{
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.order_goods_list_product:nth-child(even){
    background-color: aliceblue;
}

/*название товара*/
.order_goods_list_product_name{
    min-width: 300px;
    text-align: center;
}

/*картинка товара*/
.order_goods_list_product_image{
    max-height: 56px;
}

.order_goods_list_product_price{
    min-width:100px;
    text-align: center;
}

.order_goods_list_product_quantity{
    min-width: 100px;
    text-align: center;
}